footer {
    background-color: var(--background-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 0px;
    .footer-wrapper {
        border-top: 1px var(--text-black-light) solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.7em 10vw;
    }
    p {
        font-size: clamp(13px, 1.3vw, 18px);
        text-align: center;
    }
    & > * + * {
        margin-top: 0.3em;
    }
}
