header {
    /* width: 100%; */
    display: block
}

.logo {
    // flex-grow: 2;
    // z-index: 2;
    div {
        // margin: 10px;
        margin-top: -4.5em;
        // margin: 1vw;
        margin-left: 1.5vw;
        width: 12vw;
        max-width: 200px;    }
    img {
        width: inherit;
    }
    // position: relative;
    // top: 0;
}

nav {
    // z-index: 1;
    // position: relative;
    // top: 0;
    
    // flex-grow: 1;
    padding-right: 5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    transition: background-color cubic-bezier(0.65, 0.05, 0.36, 1) 0.3s;
    &:hover {
        background-color: var(--background-blue);
    }
    a {
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 2em;
        transition: background-color cubic-bezier(0.65, 0.05, 0.36, 1) 0.1s;
        &:hover {
            background-color: var(--background-blue-darker);
        }
        * { //the text inside it, might be h1 later
            font-size: clamp(10px, 1.8vw, 20px);
            display: inline;
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            color: var(--title-white);
        }
    }
}
