h1 {
    color: var(--title-blue);
    margin-top: 2vw;
}

main.aktuality {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../../assets/aktuality_hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

main.aktuality section.section-page-aktuality {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    // align-items: flex-start;
    padding: 2em;

    // align-items: center;
    & > * {
        //aktualita
        // height: 100%;
        flex: 0 auto;
    }
}
