.areal-main {
    margin-top: 1em;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0.4em 2vw;
    h2 {
        text-align: start;
        font-size: 25px;
        width: fit-content;
    }
    h2.header {
        grid-column: 1 / 2;
    }
    h2.data {
        grid-column: 2 / 3;
    }
}


//todo misto podtrzeni tecku neebo neco pred
.trat.red .trat-title {
    border-bottom: 0.15em #de1b1b solid;
}

.trat.blue .trat-title {
    border-bottom: 0.15em #3c49eb solid;
}

.section-trate {
    padding: 1.5em;
    :not(.trat) + .trat {
        margin-top: 1.5em;
    }
}

.trat {
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.4em 1.5em;

    .trat-title {
        grid-column: 1 /2;
        align-self: start;
        text-align: left;
        width: fit-content;
        margin-bottom: 0.5em;
        padding: 0.1em;
    }
    p {
        padding-top: 0.3em;
        grid-column: 2 /3;
    }
}
