.section-trate {
    padding: 2.5em;
//     :not(.trat) + .trat {
//         margin-top: 2.5em;
//     }
// }
    gap: 2.5em;
}

.areal-main {
    margin-top: 1em;
    align-self: center;
    justify-content: center;
    width: fit-content;
    display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 0.4em 10vw;
    margin-left: -4%;
    h2 {
        text-align: start;
        width: fit-content;
    }
    h2.header {
        grid-row: 1 / 2;
    }
    h2.data {
        grid-row: 2 / 3;
    }
}

.trate-wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: clamp(80px, 8vw, 110px) 1fr;
    gap: 2em 1em;
    align-items: center;
    .trat-image {
        grid-column: 1 / 2;
        img {
            width: 100%;
            height: auto;
        }
    }
    p {
        grid-column: 2 / 3;
        text-align: left;
    }
}
