main.main-kontakt .section-hero-image {
    background-image: url("../../../assets/aktuality_hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

section.section-kontakt {
    background-color: var(--background-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    & > * + * {
        margin-top: 2em;
    }
}

.kontakt-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5em;
}

.kontakt-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; //maybe center?
    gap: 2em;
    .kontakt-section-title {
    }
}
.kontakt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    .kontakt-title {
        border-bottom: 1px var(--text-black-light) solid;
    }
    p {
    }
}

.section-map {
    display: flex;
    flex-direction: column;
    align-items: center;
}
