@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
    font-family: "HelveticaNeue";
    src: url("../../assets/fonts/HelveticaNeue.ttf");
    font-weight: 200;
}
@font-face {
    font-family: "HelveticaNeue";
    src: url("../../assets/fonts/HelveticaNeueBd.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "HelveticaNeue";
    src: url("../../assets/fonts/HelveticaNeueHv.ttf");
    font-weight: bolder;
}
@font-face {
    font-family: "HelveticaNeue";
    src: url("../../assets/fonts/HelveticaNeueIt.ttf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "HelveticaNeue";
    src: url("../../assets/fonts/HelveticaNeueLt.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "HelveticaNeue";
    src: url("../../assets/fonts/HelveticaNeueMed.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Liberation Sans";
    src: url("../../assets/fonts/LiberationSans-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Liberation Sans";
    src: url("../../assets/fonts/LiberationSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Liberation Sans";
    src: url("../../assets/fonts/LiberationSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Liberation Sans";
    src: url("../../assets/fonts/LiberationSans-Italic.ttf");
    font-style: italic;
}
