@use './fontImport.scss';

:root {
    --background-blue: #dbe8f5;
    --background-blue-darker: rgb(190, 202, 214);
    --text-black: #292929;
    --text-black-light: #3e3e3e;
    --title-blue: #09357c;
    --title-white: #ffffff;
}

html {
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background-color: var(--background-blue);
}

button {
    background: none;
    border: none;
}

h1 {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(25px, 6vw, 6vw);
    font-weight: 800;
    color: var(--title-white);
    text-transform: uppercase;
    text-align: center;
}

h2 {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(20px, 4vw, 35px);
    font-weight: 400;
    color: var(--text-black);
    text-align: center;
}

h3 {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(18px, 1vw, 1vw);
    font-weight: 400;
    color: var(--text-black);
    text-transform: uppercase;
    text-align: center;
}
h4 {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(18px, 1.4vw, 1.4vw);
    font-weight: 600;
    color: var(--title-blue);
    // text-transform: uppercase;
    // text-align: center;
}
h5 {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(18px, 1.2vw, 1.2vw);
    font-weight: 600;
    color: var(--text-black);
    // text-transform: uppercase;
    // text-align: center;
}

p,
li {
    display: block;
    font-family: "HelveticaNeue", sans-serif;
    font-size: clamp(14px, 1.8vw, 20px);
    font-weight: 300;
    color: var(--text-black);
    text-align: justify;
    strong {
        font-weight: 600;
    }
}

ul,
ol {
    & > * + * {
        padding-top: 0.5em;
    }
}

a {
    font-family: "HelveticaNeue", sans-serif;
    // font-size: clamp(20px, 1.5vw, 15px);
    font-weight: 300;
    color: var(--text-black);
    text-decoration: none;
}

table {
    border-collapse: collapse;
    overflow-x: auto;
    th,
    td {
        font-family: "HelveticaNeue", sans-serif;
        font-size: clamp(14px, 1.6vw, 20px);
        font-weight: 300;
        color: var(--text-black);

        padding: 0.5em 1.2em;

        border: var(--text-black-light) 1px solid;
    }
    th {
        font-weight: 600;
    }
}

.align-right {
    text-align: right;
}

.flexbox-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-white {
    color: var(--title-white);
}

.title-blue {
    color: var(--title-blue);
}

.section {
    padding: 4vw 0px;
}

.section-text {
    background-color: var(--background-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0px;
    h2 {
        max-width: 40ch;
    }
    p {
        max-width: 65ch;
    }
    & > * + * {
        margin-top: 1.5em;
    }
}

/*section*/

.section-hero-image {
    text-align: center;
    padding-bottom: 3em;
    h1.big {
        margin-top: 9vw;
        margin-bottom: 10vw;
    }
    h1 {
        margin-top: 5vw;
        margin-bottom: 6vw;
    }

    .hero-image {
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .scroll-down {
        cursor: pointer;
        transition: transform 170ms ease-out, opacity 170ms ease-out;
        &:hover {
            transform: translateY(0.3em);
        }
    }
    svg {
        stroke: var(--title-white);
        stroke-width: 3;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
        width: 5vw;
    }
}

/* Section */

.widget {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 1rem;

    width: 11vw;
    height: 11vw;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    img {
        width: 7vw;
        margin: 1.2vw 1vw;
        border-radius: 0.2vw;
    }
    .widget-title {
        font-size: clamp(14px, 2.2vw, 25px);
        font-weight: 700;
        color: var(--title-white);
        font-family: "Montserrat", sans-serif;
        text-align: center;
        text-transform: uppercase;
        // margin: 0.3em 0px;
    }
    transition: filter 50ms ease-out;
    &:hover {
        filter: brightness(0.9);
    }
    &:active {
        filter: brightness(0.8);
    }
}

.widget-kamery {
    background-image: url("../../assets/kamery.jpg");
}
.widget-skipasy {
    background-image: url("../../assets/skipas.jpg"); //url("../../../assets/skipasy.jpg");
}

/* Section */

.section-main-text {
    background-color: var(--background-blue);
    padding: 40px;
    // padding-top: 4vw;

    h2 + * {
        margin-top: 3.5vw;
    }
    & > * + * {
        margin-top: 1em;
    }
    a {
        color: var(--text-black);
        &:hover {
            color: (--text-black-light);
        }
    }
    p {
        width: clamp(0px, 100%, 65ch);
    }
}

/* Section */

.section-icons {
    background-color: var(--background-blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    & > * + * {
        margin-left: 3vw;
    }
}

/* Section */

.section-aktuality{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    background-image: url('../../assets/servis.jpg');
    padding: 2em;
}


/* Section */

.section-sluzby {
    background-color: var(--background-blue);
    padding: clamp(20px, 3em, 3em);
    // padding-top: 6vw;
    h1 {
        margin-bottom: 1em;
    }
    div.flexbox-row {
        display: flex;
        gap: 5em;
        padding-left: clamp(20px, 10vw, 5em);
        padding-right: clamp(20px, 10vw, 5em);
        @media screen and(min-width: 700px) {
            flex-direction: row;
        }
        @media screen and(max-width: 700px) {
            flex-direction: column;
        }
    }
    img {
        width: 100%;
        border-radius: 0.2vw;
    }
    article {
        & > * + * {
            margin-top: 0.5em;
        }
    }
}

// Section

.section-bottom {
    padding: 2em;
    background-image: url("../../assets/servis.jpg");
    h1 {
        margin: 2.5em 10px;
    }
}
