name: build
on: 
  push:
    branches:
    - main
    - master
    - 'from_fork'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install dependencies
        run: npm install

      - name: build
        run: npm run build
        env:
          GATSBY_ENV: "prod"

      - name: deploy
        run: |
          lftp -e "set ssl:verify-certificate no; open 46.234.108.44; user askimysakcz.17365 ${{ secrets.ftp_password }}; mirror --log=./.lftp-dev.log --parallel=8 --reverse --delete ./public/ ./www/;  bye"

        # uses: Penguibird/FTP-Deploy-Action@4.2.1
        # with:
        #   server: 46.234.108.44
        #   username: askimysakcz.17365
        #   password: ${{ secrets.ftp_password }}
        #   local-dir: ./public/
        #   server-dir: ./www/
